# {{ ansible_managed }}
{% set path = item.value.path | default(item.key) %}

MAILTO="{{ mailto }}"
LOGDIR="$HOME/log"

MIRRORNAME="{{ item.value.mirrorname | default(inventory_hostname) }}"
TO="{{ item.value.root | default('/srv/mirrors/' + item.key + '/') }}"
{% if item.value.runmirrors | default(False) %}
HUB=true
{% endif %}

INFO_MAINTAINER="Debian mirrors team <mirrors@debian.org>"

RSYNC_HOST="{{ item.value.upstream }}"
{% if 'user' in item.value %}
RSYNC_USER="{{ item.value.user }}"
RSYNC_PASSWORD="{{ rsyncd_secrets[item.value.user] }}"
{% else %}
RSYNC_USER="{{ inventory_hostname }}"
RSYNC_PASSWORD="{{ lookup('hmac_password', inventory_hostname, path) }}"
{% endif %}
RSYNC_PATH="{{ path }}"

{% if item.value.rsync_ssl | default(true) %}
RSYNC_SSL=true
RSYNC_SSL_CAPATH={{ ssl_ca_path }}
RSYNC_SSL_METHOD=socat
{% endif %}

{% for k, v in item.value.extra | default({}) | dictsort %}
{{ k }}="{{ v }}"
{% endfor %}
