# {{ ansible_managed }}
{% for v in item.value.runmirrors | default([]) %}
{% if v.special is defined %}
{{ v.special }}
{% elif v.user is defined %}
{{ v.type | default('all') }}  {{ item.key }}_{{ v.name | default(v.host) }}  {{ v.host }}  {{ v.user }}  {{ v.params | default('') }}
{% else %}
{{ v.type | default('all') }}  {{ item.key }}_{{ v.name | default(v.host) }}  {{ v.url }}
{% endif %}
{% endfor %}
