# {{ ansible_managed }}
{% for name in rsyncd_secrets_users_extra.get(item, ()) | sort %}
{{ name }}:{{ rsyncd_secrets.get(name, lookup('hmac_password', name, item)) }}
{% endfor %}
{% for name in rsyncd_secrets_users.get(item, ()) | sort %}
{{ name }}:{{ rsyncd_secrets[name] }}
{% endfor %}
